<launch>
  <arg name="robot_name" default="naiad"/>
  <group ns="$(arg robot_name)">
    <rosparam command="load" ns="dynamics_for_velocity_sim" file="$(find cola2_naiad)/sim_config/dynamics.yaml"/>
    <node name="dynamics_for_velocity_sim" pkg="cola2_sim" type="dynamics_node">
      <remap from="/$(arg robot_name)/dynamics_for_velocity_sim/pose_overwrite" to="/$(arg robot_name)/navigator/odometry_"/>
    </node>
    <node name="sim_velocity_from_dynamics" pkg="cola2_sim" type="sim_auv_nav_sensors_node.py" output="screen">
      <param name="gps_period" value="0.0"/>
      <param name="depth_period" value="0.0"/>
      <param name="imu_period" value="0.0"/>
      <param name="usbl_period" value="0.0"/>
      <param name="dvl_period" value="0.2"/>
      <rosparam param="dvl_velocity_covariance">[0.0001, 0.0001, 0.0001]</rosparam>
      <rosparam param="output_dvl_velocity_covariance">[0.05, 0.05, 1000000000000.0]</rosparam>
      <param name="sea_bottom_depth" value="5.0"/>
      <remap from="/$(arg robot_name)/dynamics/odometry" to="/$(arg robot_name)/dynamics_for_velocity_sim/odometry"/>
    </node>
  </group>
</launch>
