<!-- THIS LAUNCH FILE IS INTENDED TO BE USED FROM THE NODE cola2_log bag_recorder_node.py -->
<launch>
  <arg name="robot_name"/>
  <arg name="has_camera" value="False"/>
  <arg name="launch_number" default="0"/>
  <node name="record_auv_bag_$(arg launch_number)" output="screen" pkg="rosbag" type="record" args="
    -a
    --split --size 2048 -o $(env HOME)/bags/$(arg robot_name)"/>

  <node if="$(arg has_camera)" name="record_auv_image_$(arg launch_number)" output="screen" pkg="rosbag" type="record" args="
    /$(arg robot_name)/navigator/odometry
    /$(arg robot_name)/navigator/navigation

    --split --size 2048 -o $(env HOME)/bags/$(arg robot_name)_image"/>
</launch>
