<launch>
    <!-- Configurable arguments -->
    <arg name="robot_name" default="athena"/>
    <arg name="enable_keyboard" default="true"/>
    <arg name="enable_joystick" default="false"/>
    <arg name="joystick_device" default="/dev/input/js0"/>
    <arg name="enable_gui" default="false"/>
    <arg name="enable_rviz" default="false"/>
    <!--
    <arg name="robot_xacro" default="$(find athena_description)/urdf/payload.urdf.xacro"/>
    -->

    <!-- Static transform -->
    <node name="world2ned" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 3.1415 world world_ned 100"/>

    <!-- Namespace with robot name -->
    <group ns="$(arg robot_name)">
        <!-- Load configs -->
	<!--
        <include file="$(find cola2_athena)/launch/sim_configuration.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="robot_xacro" value="$(arg robot_xacro)"/>
        </include>
	-->

        <!-- Simulation nodes -->
	<!--
        <node name="sim_internal_sensors" pkg="cola2_sim" type="sim_internal_sensors_node" output="screen"/>
	-->
    </group>

    <!-- Run Simulator -->
	<include file="$(find stonefish_ros)/launch/simulator.launch">
        <arg name="simulation_data" value="$(find cola2_stonefish)/data"/>
        <arg name="scenario_description" value="$(find cola2_stonefish)/scenarios/trident.scn"/>
        <arg name="simulation_rate" value="300.0"/>
        <arg name="graphics_resolution" value="1200 800"/>
        <arg name="graphics_quality" value="low"/>
    </include>

    <!-- Run RVIZ -->
    <!--
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cola2_athena)/scene/athena.rviz"/>
    </group>
    -->
</launch>